.Card {
    &__cyan {
      border-top: 0.2rem solid #44d3d2;
    }
    &__red {
      border-top: 0.2rem solid #ea5454;
    }
    &__orange {
      border-top: 0.2rem solid #fcae4a;
    }
    &__blue {
      border-top: 0.2rem solid #549ef2;
    }
  }